@charset "UTF-8";
/*Global==========*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --purple1: #b839f5;
    --purple2: #9329c3;
    --purple3: #8925b8;
    --purple4: #561c8a;
    --purple5: #2a0b28;
    --dark-blue: #7f33c7f3;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

}
/*global ======*/

/*main==========*/
main{
    background-color: var(--dark-blue);
    border-radius: 3px;
    color: #fff;
    width: min(80%,400px);
    height: 90%;
    margin-top: 2em;
}
/*main======= */
/*display */
#display{
    width: 90%;
    height: 60px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 3px;
    color: black;
    font-size: 1.3em;
}
#display:hover{
    outline: 2px solid black;
}
/*table===========*/
table{
    width: 80%;
    margin: 0 auto;
    background-color: var(--purple4);
    padding: 20px;
}



table tr{
    height: 50px;
}
/*table tr td */

table tr td{
    background-color: var(--purple1);
    text-align: center;
    width: 35px;
    height: 80px;
    font-size: 1.2em;
    border-radius: 3px;
    transition-duration: 0.4;
}

tr:nth-of-type(3) td:nth-of-type(5){
    position: absolute;
    background-color: var(--purple3);
    height: 160px;
    width: 55px;
    line-height: 160px;
}

tr:nth-of-type(4) td:nth-of-type(2){
    display: flex;
    position: absolute;
    width: 109px;
    justify-content: center;
    align-items: center;
}
tr:nth-of-type(4) td:nth-of-type(3){
    position: relative;
    left: 55px;
}
table tr td:hover{
    opacity: 0.5;
}
/*table tr td */